@model Library_web.Models.editBookDTO
@{
    var Book = ViewBag.Book;
    var listAuthor = ViewBag.ListAuthor;
    var listPublisher = ViewBag.ListPublisher;
}
<h2>Edit book:</h2>
<form asp-controller="Books" asp-action="editBook" asp-route-id="@Book.Id" method="POST">
    <label>Title</label><input type="text" name="title" asp-for="Title" value="@Book.Title" /><br />
    <label>Description</label><input type="text" name="description" asp-for="Description" value="@Book.Description" /><br />
    <label>IsRead</label>
    @if (Book.IsRead == true)
    {
        <input type="radio" name="isRead" value="True" checked />
    
        <label>Yes</label>
        <input type="radio" name="isRead" value="False" />

        <label>No</label>
    }
    else
    {
        <input type="radio" name="isRead" value="True" />
    
        <label>Yes</label>
        <input type="radio" name="isRead" value="False" checked />

        <label>No</label>
    }
    <br />
    <label>DateRead</label><input type="datetime" name="dateRead" asp-for="DateRead" value="@Book.DateRead" /><br />
    <label>Rate</label><input type="number" name="rate" asp-for="Rate" value="@Book.Rate" /><br />
    <label>Genre</label><input type="text" name="genre" asp-for="Genre" value="@Book.Genre" /><br />
    <label>CoverUrl</label><input type="text" name="coverUrl" asp-for="CoverUrl" value="@Book.CoverUrl" /><br />
    <label>DateAdded</label><input type="datetime" name="dateAdded" asp-for="DateAdded" value="@Book.DateAdded" /><br />
    <label>Publisher</label><span>@Book.PublisherName</span>
    <select name="publisherID">
        @foreach (var item in listPublisher)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select><br />
    <label>Author:</label>
    <select name="authorIds" multiple>
        @foreach (var item in listAuthor)
        {
            <option value="@item.Id">@item.FullName</option>
        }
    </select><br />
    <input type="submit" value="Save" />
</form>
